html, body {
    background: whitesmoke;
    color: #3e3e3e;
    margin:0;
    padding: 0;
    padding-top: 10px;
    
    text-align: center;
}

body {
    font-weight: 400;
}

button {
    
    display: block;
    margin: 0 auto;
    border: none;
    background: #a80020;
    background: green;
    padding: 10px 20px;
    text-transform: uppercase;
}

button:disabled {
    cursor: not-allowed;
}

h1 {
    font-size: 20px;
    text-align:center;
}

textarea {
    
    border: 3px solid black;
    width: 90%;
    margin: 0 auto;
    outline: none;
    height: 200px;
    background: slategray;
    padding: 10px;
}

textarea:disabled {
    background-color: #a5a2a2;
}